.custab {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}

.custab:hover {
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

.main {
    width: auto;
}

.main table {
    width: 100%;
}

.btn {
    margin: 5px
}

.btnActive {
    background-color: lightgreen;
    margin-left: 10px;
    font-weight: bold;

}

.btnUnActive {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    margin-left: 7px;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.search button {
    margin-left: 100px;
}

.search input {
    margin: 20px;
    width: 500px;
}

.btns-menageList {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    margin-bottom: 50px;
}

.btns-options {
    display: flex;
    justify-content: space-between;
}

.container {
    text-align: center;
}

.container h1 {
    padding: 0 0 20px;
    color: black;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container .span{
    padding: 0 0 20px;
    color:rgb(146, 168, 209);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn-xlarge{
    color:black;
    font-weight: bold;
}
.back{
    margin: 50px;
}