<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
  integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<div class="main">
  <div>
    <h1>Availble Quizes For </h1>
    <div class="container">
      <br />
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          <form class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
              <div class="col-auto">
                <i class="fas fa-search h4 text-body"></i>
              </div>
              <!--end of col-->
              <div class="row search">
                <input class="form-control form-control-lg form-control-border" type="search"
                  placeholder="Search topics or keywords sepperated by Commas">
                  <button class="btn btn-lg btn-success" type="submit">Search</button>
              </div>
              <!--end of col-->
              <!--end of col-->
            </div>
          </form>
        </div>
        <!--end of col-->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row col-md-24 col-md-offset-0 custyle">
      <table class="table table-striped custab">
        <thead>
          <tr>
            <th>Quiz Id</th>
            <th>Quiz Link Code</th>
            <th>Quiz Name</th>
            <th>Number Of Questions</th>
            <th>Last Update</th>
            <th>Number Of Submitions</th>
            <th class="text-center">Action</th>
            <th>Is Active ?</th>
          </tr>
        </thead>
        <tr *ngFor="let item of newArrayAfterFilter">
          <td>{{item.Id}}</td>
          <td>{{item.Quiz_Code}}</td>
          <td>{{item.Name}}</td>
          <td>{{item.Questions.length}}</td>
          <td>Last updates !</td>
          <td>Number Of Submitions</td>
          <td class="text-center">
            <a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a>
            <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a>
          </td>
          <td>
            <a class='btnActive btn-info btn-xs' href="#"><span class="	glyphicon glyphicon-ok"></span> Active</a>
            <a class='btnUnActive btn-info btn-xs' href="#"><span class="glyphicon glyphicon-remove"></span>
              Un-Active</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>