<form class="from-register">
  <h2 class="title">Quiz Register</h2>
  <p class="small-title">Please fill in your information To Start Quiz</p>
  <div class="field">
    <label>First Name</label>
    <input type="text" />
  </div>
  <div class="field">
    <label>Last Name</label>
    <input type="text" />
  </div>
  <div class="field">
    <label>Email address</label>
    <input type="email" />
  </div>
  <div class="field">
    <label>Phone Number</label>
    <input type="tel" />
  </div>
  <div class="field">
    <label>ID</label>
    <input type="number" />
  </div>
  <div class="field">
    <label>Quiz - ID</label>
    <input type="text" />
  </div>
  <div class="btn">
    <button>Start</button>
  </div>
</form>