<div>
  <h1>Edit/Create Quiz : </h1>
</div>
<div class="mane">
<form method="post" asp-action="AddRecycler">
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                <label>Selected Institute Name</label>
            </dt>
            <dd class="col-sm-10">
               <div></div>
            </dd>
            <dt class="col-sm-2">
                <label>Selected Quiz Subject</label>
            </dt>
            <dd class="col-sm-10">
                <div></div>
            </dd>
            <dt class="col-sm-2">
                <label>Quiz Name</label>
            </dt>
            <dd class="col-sm-10">
                <input type="text"/>
            </dd>
            <dt class="col-sm-2">
                <label>Passing Grade</label>
            </dt>
            <dd class="col-sm-10">
                <input type="number"/>
            </dd>
            <dt class="col-sm-2">
                <label>Would you like to show the examinee what the correct answers are at the end of the exam?</label>
            </dt>
            <dd class="col-sm-10">
                <input type="radio"/>
            </dd>
            <hr/>
            <h1>Details After finishing the test : </h1>
            <dt class="col-sm-2">
                <label>Header :</label>
            </dt>
            <dd class="col-sm-10">
              <textarea name="" id="" cols="30" rows="10"></textarea>
            </dd>
            <dt class="col-sm-2">
                <label>Messeged If Passed : </label>
            </dt>
            <dd class="col-sm-10">
              <textarea name="" id="" cols="30" rows="10"></textarea>
            </dd>
            <dt class="col-sm-2">
                <label>Messeged If Failed : </label>
            </dt>
            <dd class="col-sm-10">
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </dd>
            <hr/>
            <h1>Select Question :  </h1>
            <dt>
                
                

            </dt>
        </dl>
    </div>
</form>
</div>


