.page {
    height: 100%;
}

.page-header {
    height: 80px;
    line-height: 80px;
    color: rgb(246, 246, 246);
    background-color: rgb(16, 70, 198);
    display: flex;
    justify-content: center;
    margin: auto;
}

.page-content {
    height: calc(100% - 80px);
    display: flex;
    justify-content: space-around;
}

.page-content .quiz-reguster {
    background: #d6c9c9;
    width: 60%;
    margin: 20px;
    display: grid;
    border-radius: 30px;
    justify-content: space-around;
    font: -webkit-small-control;
    align-content: space-evenly;
}

.page-footer {
    height: 80px;
}


.btn {
    font-size: 20px;
    border-radius: 20px;
    inline-size: -webkit-fill-available;
}