<div class="main">
  <h1>Lets Start Manage Your Quizes.....</h1>
  <div class="selectPicking">
    <label>Select Your Institute</label>
    <select class="Options" (change)="OnSelectInstitute($event)">
      <option *ngFor="let item of institutesOptions" [value]="item.Name">{{item.Name}}</option>
    </select>
  </div>
  <div class="selectPicking">
    <label>Select Your Quiz Subject</label>
    <select class="Options" (change)="OnSelectSubjects($event)">
      <option *ngFor="let item of quizSubjects" [value]="item.Name">{{item.Name}}</option>
    </select>
  </div>
  <div class="buttons">
    <button (click)="GoToManageQuizesPage()" >Manage Quizes</button>
    <button (click)="GoToReportsPage()" >Reports</button>
    <button (click)="GoToManageQuestionPage()" >Manage Questions</button>
  </div>
</div>
 