<!-- <div class="quiz-header">
  <h1>Quiz Preview </h1>
</div>

<div class="content">
  <div class="hed">
    <h1>name quiz</h1>
  </div>
  <div class="text" > 
    quize d intrudaction
  </div>
  <div class="">    
      <button type="button" class="btn btn-primary" (click)="GoToStartQuiz()">Start</button> 
  </div>
</div> -->

<div class="page">

  <div class="page-header">
    <h1>Quiz Preview </h1>
  </div>
  <div class="page-content">
    <div class="quiz-preview">

      quize d intrudaction
      <div>
        <button type="button" class="btn btn-primary" (click)="GoToStartQuiz()">Start</button>
      </div>
    </div>
  </div>
  <div class="page-footer">footer</div>
</div>