<div class="report-quiz h-100 w-100">
  
  <h2>Quiz Report : " Topic "</h2>

  <div class="header">Summary</div>

  <div class="Summary-box">
    <div class="box-right" >

    <div class="label"> Quiz Name :</div>
    <div class="label">Quiz Code :</div>
    <div class="label">Quiz Id :</div>
    <div class="label">Quiz Type :</div>
    <div class="label">Number Of Questions :</div>
    <div class="label">Passing Grade</div>
  </div>

    <div class="box-left" >

    <div class="label">Date Range :</div>
    <div class="label">Number Of Submissions :</div>
    <div class="label">Number Of Respondents :</div>
    <div class="label">Passing Percentage :</div>
    <div class="label">Average Grade :</div>
    <div class="label">Median Garde :</div>
  </div>
  </div>

  <div class="header2"> Respondent Grades And Answers</div>
  <div>Click a name from list to see the respondents test <button class="btn btn-primary">
    Show Qustions
  </button></div>
  <div class="">
    <table class="table table-striped">
      <thead>
        <tr class="header-table">
          <th scope="col">ID</th>
          <th scope="col">Respondent</th>
          <th scope="col">Submitted</th>
          <th scope="col">Number Of Questions Answered</th>
          <th scope="col">Grade</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>