<div class="quiz-header">
    <div class="header-text">Quiz - {{quiz.Name}} </div>
</div>

<div class="container-body">
    <div class="content h-100">

        <app-quizQuestion *ngIf="currentQuestion" [index]="currentPage" [question]="currentQuestion"
            [answers]="answers" (selectAnswer)="onSelectedAnswer($event)">
        </app-quizQuestion>



    </div>
</div>

<div class="footer">
    <app-Pager *ngIf="currentPage" [count]="questionsCount" [studentAnswersSelected]="studentAnswersSelected" [page]="currentPage" (changePage)="onChangeQuestion($event)"
        (next)="onNext()" (prve)="onPrve()" (finishQuiz)="GoToFinishQuiz()">
    </app-Pager>
</div>