<div class="quiz-header">
  <h1>Quiz Result</h1>
</div>


<div class="container">
  <form class="from-result">

    <div class="row">
      <h2 class="title">Name Quiz</h2>
      <h6 class="small-title">Thank you, for approached ______ Quiz Name, in the subjects __________ Quiz Subject</h6>
    </div>

    <div class="row  align-items-center field-box w-100">
      <div class="col-auto" style="width:30%">
        <label class="col-form-label">Your Grade :</label>
      </div>

    </div>

    <div class="row  align-items-center field-box w-100">
      <div class="col-auto" style="width:30%">
        <label class="col-form-label">Status :  Pass/Unpass</label>
      </div>

    </div>

    <div class="row   align-items-center field-box w-100">
      <div class="col-auto" style="width:30%">
        <label class="col-form-label">Summary :</label>
      </div>

    </div>

    <div class="row">
      <button type="button" class="btn btn-primary">Send Details To Email</button>
    </div>

  </form>
</div>